gitignore
# Visual Studio 2022
.vs/
**/*.csproj.user
**/*.suo
**/*.v12.suo

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
*.exe
*.dll
*.pdb
*.cache
*.sbr
*.tlb
*.tli
*.ilk
*.obj
*.lib

# Visual Studio cache/options directory
.vs/

# Logs
*.log
NET.D365.DAPPER.WMS/Logs/

# API endpoints
ApiEndpoints.json
obj/*/ApiEndpoints.json

# SourceLink
*.sourcelink.json