<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DbName" value="AXDB" />
		<add key="LogTargetSizeMB" value="245760" />
	    <!--<add key="DbIp" value="172.31.1.20" />
		<add key="DbUser" value="sa" />
		<add key="DbPassword" value="#rYzaGWdYKUC" />
		<add key="ServerList" value="172.31.1.21,172.31.1.22,172.31.1.23,172.31.1.64,172.31.1.65,172.31.1.66,172.31.1.24,172.31.1.25,172.31.1.26,172.31.1.28,172.31.1.29,172.31.1.11" />
		<add key="AdminUser" value="aurora\Huawei-D365" />
		<add key="AdminPassword" value="R45gVnjF$mg@" />-->
		
		<add key="TestDbIp" value="172.31.1.120" />
		<add key="TestDbUser" value="sa" />
		<add key="TestDbPassword" value="#rYzaGWdYKUC" />
		<add key="TestServerList" value="172.31.1.121,172.31.1.122,172.31.1.123,172.31.1.124,172.31.1.125,172.31.1.126,172.31.1.127,172.31.1.128,172.31.1.129,172.16.22.120" />
		<add key="TestAdminUser" value="aurora\auadmin" />
		<add key="TestAdminPassword" value="NXNnTJM#2C7a34" />
	</appSettings>
</configuration>